<div>
  <span class="mat-sub-title">Instructions</span>
  <p><strong>Prepare grill:</strong> Preheat grill to medium high heat.<br>
  <strong>Make chicken spice rub:</strong> In a small bowl, mix garlic powder, cumin,
    coriander, smoked paprika, sea salt, pepper, and olive oil. Mix until combined.<br>
  <strong>Prep chicken:</strong> Rub mixture over both sides of the chicken.<br>
  <strong>Grill:</strong> Place chicken on grill and grill each side for 4-6 minutes
    depending on thickness. You just want to make sure there is no pink in the middle.<br>
  <strong>Rest &amp; Serve:</strong> Let your chicken rest for 5 minutes, then serve!</p>
</div>
