<section style="margin-top: 15px;" >
  <!-- <app-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-alert> -->


  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="onSubmit()" #form="ngForm">
    <mat-form-field>
      <input type="email" placeholder="Email" matInput ngModel name="email" required email #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">This field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input placeholder="Password" type="password" matInput ngModel name="password" required minlength="6" #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters long.</mat-error>
    </mat-form-field>
    <!-- <div class="form-group" style="margin-top: 1rem;">
      <button class="btn btn-primary" type="submit"
        [disabled]="!form.valid">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button> |
      <button class="btn btn-primary" type="button" (click)="isLoginMode = !isLoginMode">Switch To
        {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
    </div> -->
    <div *ngIf="!isLoading">
      <button mat-raised-button type="submit" [disabled]="form.invalid"
        color="primary">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button> |
      <button mat-raised-button type="button" (click)="isLoginMode = !isLoginMode">Switch To
        {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
    </div>

    <mat-spinner *ngIf="isLoading"></mat-spinner>

  </form>


</section>
