img {
  padding: 10px;
  box-sizing: border-box;
}

mat-card {
  margin: 10px;
}

@media (min-width: 600px) {
  img {
    width: 600px;
  }
}

@media (min-width: 600px) {
  img {
    width: 600px;
  }
}
