<mat-card>
  <mat-card-title>
    {{ recipe.name }}
  </mat-card-title>
  <img mat-card-image [src]="recipe.imagePath" alt="">
  <mat-card-content>
    <p>{{ recipe.description }}</p>
    <div [innerHTML]='recipe.details'></div>
    <mat-list>
      <span class="mat=sub-title">Ingredients</span>
      <mat-list-item *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }}
        ({{ ingredient.amount }})</mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onToShoppingList()">To Shopping List</button>
    <button mat-raised-button color="primary" routerLink="edit">Edit Recipe</button>
    <button mat-raised-button color="warn" (click)="onDelete()">Delete Recipe</button>
  </mat-card-actions>
</mat-card>
