.title {
  text-align: center;
}

img {
  padding: 10px;
  box-sizing: border-box;
}

.title {
  margin-top: 15px;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 15px;
}

mat-card {
  margin: 10px;
}

.ingredient-row {
  text-align: center;
}

@media (min-width: 600px) {
  img {
    width: 600px;
  }

  .container {
    padding: 0 15px;
    margin: 15px;
  }

  mat-form-field {
    width: 600px;
  }

  .ingredient-name {
    width: 400px;
    margin-left: 5px;
  }

  .ingredient-amount {
    width: 150px;
    margin-left: 15px;
  }
}

@media (max-width: 599px) {
  img {
    width: 90%;
    /* padding: 0px; */
  }

  .mat-dialog-content {
    max-height: 82vh;
  }

  .mat-dialog-container {
    padding: 10px;
  }

  mat-card {
    margin: 0px;
  }

  mat-form-field {
    width: 90%;
  }

  .ingredient-name {
    width: 60%;
  }

  .ingredient-amount {
    width: 15%;
    margin-left: 5px;
  }
}
