mat-card {
  cursor: pointer;
  margin: 10px;
}

mat-card.active {
  color: white;
  background-color: #03a9f4;
}

mat-card:focus {
  outline: none;
}

@media (min-width: 600px) {
  mat-card {
    width: 300px;
  }
}
